/* Body */

body {
	background: #b1b2ad;
	font-family: "Poppins", sans-serif;
	margin-top: 25px;
	color: rgb(54, 53, 53);
}

/* Search Bar */

.container {
	text-align: center;
	max-width: 700px;
	max-height: 800px;
}
.form-control {
	font-size: 16px;
	font-weight: 300;
	color: rgb(54 54 53 / 80%) !important;
	border: none !important;
	border-radius: 25px;
	border-width: 1px;
	padding-left: 8px;
	box-shadow: 0 1px 6px 0 rgb(54 54 53 / 20%) !important;
}

.change-city {
	height: 50px;
	align-content: center;
}

.location-button,
.search-button {
	padding: 20px;
}
.fa-location-arrow,
.fa-search {
	font-size: 20px;
}

.btn:focus {
	box-shadow: none !important;
}

input[type="search"]::-webkit-search-cancel-button {
	/* remove default */
	-webkit-appearance: none;

	/* now your own custom styles */
	height: 16px;
	width: 16px;
	display: block;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
	/* setup all the background tweaks for our custom icon */
	background-repeat: no-repeat;

	/* icon size */
	background-size: 16px;
}
/* Current City & Date */

.city {
	font-size: 35px;
	font-weight: 600;
}

.last-update-label,
.top-date {
	font-size: 16px;
}
.top-date {
	font-weight: 300;
	color: rgb(54 54 53 / 80%);
}

/* Current Temperature  */

.today-temp-temp {
	font-size: 45px;
	font-weight: 700;
}
.units {
	font-size: 14px;

	line-height: 1;
}

.today-temp-forecast {
	font-size: 20px;
	font-weight: 500;
	text-transform: capitalize;
}

.icon {
	text-align: right;
}

.current-temp {
	text-align: left;
}

/* 7 Day Forecast */

.forecast-header {
	font-size: 16px;
	font-weight: 300;
	padding-top: 10px;
	text-transform: uppercase;
}

.city-forecast {
	padding: 0;
	font-size: 16px;
}

.col-sm-2 {
	padding-bottom: 20px;
}

.day {
	font-weight: 500;
}
.temp {
	font-weight: 200;
}

.temp-min {
	color: rgb(54 54 53 / 80%);
}
.temp-max {
	font-weight: 500;
}
/* Coded By Footer */

.coded-by {
	font-size: 16px;
	font-weight: 300;
	color: rgb(54 54 53 / 80%);
	padding-top: 10px;
	padding-bottom: 10px;
}
.fa-github-square,
.fa-linkedin {
	font-size: 20px;
	color: rgb(54, 54, 53);
}
