body {
	background: #eaeaea;
	font-family: "Poppins", sans-serif;
	margin-top: 30px;
	color: rgb(61, 61, 61);
}

.container {
	width: 300px;
	text-align: center;
	padding: 0;
}
a:hover {
	color: rgb(61, 61, 61);
}

/* Search Bar */

.form-control {
	font-size: 14px;
	font-weight: 300;
	color: rgb(61 61 61 / 60%) !important;
	border: none !important;
	border-radius: 25px;
	border-width: 1px;
	padding-left: 8px;
	box-shadow: 0 1px 6px 0 rgb(61 61 61 / 20%) !important;
}

.change-city {
	height: 50px;
	align-content: center;
}

.fa-location-arrow,
.fa-search {
	font-size: 20px;
}

.btn:focus {
	box-shadow: none !important;
}
.col-2 {
	padding: 0;
}
/* Current City & Date */

.city {
	font-size: 20px;
	font-weight: 500;
}
.top-date {
	font-size: 14px;
	font-weight: 300;
}

/* Current Temperature  */

.today-temp {
	text-align: left;
}
.today-temp-temp {
	font-size: 38px;
	font-weight: 700;
	line-height: 100%;
}

.units {
	vertical-align: top;
	font-size: 12px;
}

.unit-links {
	text-decoration: none;
	color: rgb(61 61 61 / 40%);
}

.active {
	color: inherit;
	cursor: default;
	font-weight: 700;
}
.today-temp-forecast {
	font-size: 14px;
	font-weight: 300;
	text-transform: capitalize;
}
.today-temp-icon {
	text-align: right;
	padding-right: 0;
}

/* 5 Day Forecast */

.forecast-header {
	font-size: 14px;
	font-weight: 300;
	padding-top: 10px;
}

.first-column {
	padding: 5px;
}
.second-column {
	font-size: 14px;
	text-align: left;
	padding: 5px;
}

.day {
	font-weight: 500;
}
.temp {
	font-weight: 300;
	color: rgb(61 61 61 / 60%);
}

/* Coded By Footer */

.coded-by {
	text-align: center;
	font-size: 12px;
	font-weight: 300;
	color: rgb(61 61 61 / 60%);
	padding-top: 30px;
}
.fa-github-square,
.fa-linkedin {
	font-size: 20px;
	color: rgb(61, 61, 61);
}
